@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
.wrapper {
   padding: 200px 0px 0px 0px;
   font-family: Roboto;
   background-color: #f5f5f5;
}
/* Part 1 */
.promise {
}
.promise:not(:last-child) {
   margin: 0px 0px 200px 0px;
}
[class*="__container"] {
   max-width: 1020px;
   margin: 0px auto;
}
.promise__container {
   display: flex;
   flex-direction: column;
}
.promise__header {
   margin: 0px 0px 80px 0px;
}
.header-content {
}
.header-content__subtitle {
   padding: 0px 0px 0px 33px;
   font-weight: 700;
   font-size: 12px;
   line-height: 2;
   letter-spacing: 2.5px;
   text-transform: uppercase;
   color: #5d62b5;
   background: url("../img/overline_mark__purple.png") 0 -2px no-repeat;
}
.header-content__subtitle:not(:last-child) {
   margin: 0px 0px 33px 0px;
}
.header-content__title {
   font-weight: 900;
   font-size: 36px;
   line-height: 1.17;
   color: #000000;
}
.promise__items {
   flex-wrap: wrap;
   display: flex;
   margin: 0 -12px;
   row-gap: 24px;
}
.promise__item {
   padding: 0 12px;
   flex: 0 1 33.333%;
   display: flex;
   min-width: 275px;
}
.promise__icon {
   margin: 0px 23px 0px 0px;
}
.promise__title {
   font-weight: 900;
   font-size: 19px;
   line-height: 1.37;
   color: #f2726f;
}
.promise__text {
   font-weight: normal;
   font-size: 16px;
   line-height: 1.5;
   /* letter-spacing: 0.15px; */
   color: #4b4b4b;
}
/* Part 2 */
.impact {
   background-color: #29c3be;
   position: relative;
}
.impact:last-child {
   padding-bottom: 200px;
}
.impact__container {
   display: flex;
   flex-direction: column;
   position: relative;
}
.impact__container::before {
   content: "";
   position: absolute;
   display: block;
   top: 0;
   right: 50%;
   transform: translate(88%, 0px);
   width: 68%;
   height: 100%;
   background: url("../img/spot.png") 0 0 / 100% no-repeat;
}

.impact__body {
   display: flex;
   align-items: flex-end;
   position: relative;
   margin: 0px -15px;
}
.impact__body:not(:last-child) {
   margin: 0px 0px 79px 0px;
}
.impact__header {
   flex: 0 1 50%;
   padding: 20px 15px 0px 15px;
   align-self: flex-end;
}

.impact__header .header-content__subtitle,
.impact__header .header-content__title {
   color: #ffffff;
}
.impact__header .header-content__subtitle {
   background: url("../img/overline_mark.svg") 0 -2px no-repeat;
}
.impact__image {
   margin: -7.61% 0px 0px 0px;
   flex: 0 1 50%;
   padding: 0px 15px;
   align-self: flex-start;
}
.impact__image img {
   max-width: 100%;
}
.impact__items {
   align-items: flex-start;
   flex-wrap: wrap;
   display: flex;
   row-gap: 24px;
   margin: 0 -12px;
}
.impact__item {
   padding: 0 12px;
   flex: 0 1 25%;
   display: flex;
}
.impact__icon {
}
.impact__icon:not(:last-child) {
   margin: 0px 11px 0px 0px;
}
.impact__item-body {
}
.impact__label {
   font-weight: 900;
   font-size: 36px;
   line-height: 1.17;
   color: #ffffff;
}
.impact__text {
   font-weight: 700;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.15px;
   color: #5d62b5;
}
